.betslip {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    background-color: #fff;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto; /* Allows scrolling if the content overflows */
    max-height: 100%; /* Ensures it doesn't grow beyond the height of the viewport */
    transition: max-height 0.3s ease-out;
}

.open {
    max-height: 80%; /* Example value, you can adjust based on your UI */
}

.collapsed {
    max-height: 0;
    overflow: hidden;
}

.tab {
    position: fixed;
    right: 0;
    bottom: 20px;
    background-color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.3);
}

.header {
    padding: 20px;
}

.closebtn {
    position: absolute;
    top: -1px;
    right: -1px;
    border: #ccc 1px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    height: 28px;
    width: 28px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='6' viewBox='0 0 12 12'%3E%3Cpath fill='%23367A65' fill-rule='evenodd' d='M12 .784L11.243 0 6 5.431 .757 0 0 .784l5.243 5.432L6 7l.757-.784z'/%3E%3C/svg%3E") center center no-repeat;
    background-size: contain;
}

.closebtn:hover {
    background-color: #fff;
}

.options {
    padding: 0 0.5rem;
}

.options .option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: .8rem;
    color: #777;
}

.options .option .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.options .option .content {
    margin-left: 25px;
}

.options .option .name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*width: 90%;*/
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    margin-left: 5px;
}

.iconButton {
    border: none;
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;
}

.iconButton:hover {
    background-color: #fff;
}
