.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    /*border-bottom: 5px solid var(--light-blue);*/
    gap: 1em;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--egyptian-blue);
}

.nav a {
    color: var(--egyptian-blue);
}

.active {
    font-weight: 600;
}
