.main {
    margin: 0;
    background-color: #555555;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    min-height: 100vh;
}

.header {
    color: white;
}

.betItem {
    padding: 1em;
    width: 95vw;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #3b4752;
    flex: 1;
}

.betHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 5px;
}

.betDetails {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 1em 0;
    border-bottom: 1px solid yellow;
}

.betMeta {
    font-size: 0.8rem;
    font-weight: 200;
}

.status {
    font-weight: 900;
}

.status-pending {
    color: ghostwhite;
}

.status-lost {
    color: red;
}

.status-won {
    color: greenyellow;
}

.status-canceled {
    color: darkgray;
}

.marketOption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
}

.smallText {
    font-size: 0.8rem;
    font-weight: 200;
}

.eventName {
    padding: 0.5em;
}

.numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 1em;
}

.number {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}