.main {
    margin: 0;
    background-color: #555555;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    min-height: 100vh;
}

.header {
    color: white;
}

.betItem {
    padding: 1em;
    width: 95vw;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #3b4752;
    border: 1px solid rgb(255, 255, 0, 0.4);
}

.betHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    margin: 1em 1.5em;
}

.betDetails {
    list-style: none;
    position: relative;
    gap: 0.5em;
    margin: 0.2em 1.5em;
}

.betMeta {
    font-size: 0.8rem;
    font-weight: 200;
}

.status::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    left: -20px;
    top: 5px;
    border: 1px solid darkgray;
    border-radius: 50%;
}

.status-pending {
    color: ghostwhite;
}

.status-lost::before {
    background-color: red;
    border: 2px solid red;
}

.status-won::before {
    background-color: greenyellow;
    border: 2px solid greenyellow;
}

.status-canceled::before {
    border: 2px solid darkgray;
}

.marketOption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
}

.smallText {
    font-size: 0.8rem;
    font-weight: 200;
}

.smallestText {
    font-size: 0.4rem;
    font-weight: 100;
}

.eventName {
    padding: 0.5em;
}

.score {
    padding: 1em;
    color: yellow;
    .live {
        text-transform: uppercase;
        font-family: monospace;
        color: lightyellow;
        padding-left: 0.5rem;
    }
}

.numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 1em;
    margin: 0 1.5em;
    border-top: 1px solid yellow;
    padding-top: 0.5em
}

.number {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}