
.main {
    background-color: var(--off-white);
    color: var(--dark-grey);
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    min-height: 100vh;
    /* no left sidebar here */
    margin: 0 0 0 -190px;
}

.header {
}

.betItem {
    width: 80%;
    display: flex;
    flex-direction: column;
    color: var(--dark-grey);
    border: 1px solid rgb(255, 255, 0, 0.4);
}

.options {
    padding-left: 1em;
}

.betHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.betDetails {
    list-style: none;
    position: relative;
    gap: 0.5em;
    margin: 0.2em 1.5em;
}

.betMeta {
    font-size: var(--font-size-body);
    font-weight: 200;
}

.status::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    left: -20px;
    top: 5px;
    border: 1px solid var(--dark-grey);
    border-radius: 50%;
}

.status-pending {
    color: var(--dark-grey);
}

.status-lost::before {
    background-color: red;
    border: 2px solid red;
}

.status-won::before {
    background-color: green;
    border: 2px solid green;
}

.status-canceled::before {
    border: 2px solid darkgray;
}

.marketOption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
}

.smallText {
    font-size: var(--font-size-caption);
    font-weight: 400;
}

.smallestText {
    font-size: 0.4rem;
    font-weight: 100;
}

.eventName {
    padding: 0.5em;
}

.score {
    padding: 1em;
    color: var(--egyptian-blue);
    .live {
        text-transform: uppercase;
        font-family: monospace;
        color: var(--salmon);
        padding-left: 0.5rem;
    }
}

.numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 1em;
    margin: 0 1.5em;
    border-top: 2px solid var(--salmon);
    padding-top: 0.5em
}

.number {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}